.navbar {
  background-color: hsl(345, 99%, 38%);
  width: 100vw;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;;
}
.leftside {
  display: flex;
  justify-content: center;
  
 
 
}
.brand {
  display: flex;
  
}
.siteTitle {
  color: black;
  font-size: 24px;
  font-weight: bold;

}
a {
  text-decoration: none;
}
.quicklinks{
  display: flex;
  justify-content: space-between;
}
.navbar {
  .leftside img,
  .rightside img {
    width: 30px;
    height: 30px;
    
  }
}
.navigate{
  display: flex;
  justify-content: center;
  margin-right: 16px;
  color: black;
  
  
}

.navItem{
  margin-right: 8px;
  margin-left: 8px;
  font-size: 14px;
  color: black;
  transition: all 2s ease-in-out;
  display: inline-block;
  position: relative;

}
.navItem::after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 2px;
  width: 0;
  right: 0;
  background-color: #320d03;
  transition: all 300ms ease;
}
.navItem::after {
  background-color: #320d03;
}

.navItem:hover::after {
  left: 0;
  width: 100%;
}

.rightside {
  margin-right: 16px;
  display: flex;
}

.Logo {
  margin-right: 12px;
}

@media only screen and (max-width: 600px) {
  .navItem{
    display: none;
  }
  .leftside{
    margin-left: 16px;
  }
}