.navbar {
  background-color: hsl(345, 100%, 37%);
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.leftside {
  display: flex;
  justify-content: space-between;
}
.brand {
  display: flex;
}
.quicklinks{
  display: flex;
  justify-content: space-between;
}
.navbar {
  .leftside img,
  .rightside img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}