<br>
<p>we may need a bit of dynamics here...</p>
<p>I.E. each demo item gets dynamically fed it's content</p>
<p>or we could just hard code in all the demo titles / gifs / text.....</p>
<br>

<flexbox style="border-color: purple;">
    <p>this is a flexbox...</p>
    <h2 class="demoTitle">what are we demo'ing in this one</h2>
    <iframe>I don't know how iframes work, but this is one... drop the gif in as one?</iframe>
    <div>we could use a div to write more, like I am here</div>
    
    <ul>
        <li>or do we</li>
        <li>want some</li>
        <li>list action?</li>
    </ul>
</flexbox>

<br>
<p>we may need a bit of dynamics here...</p>
<p>I.E. each demo item gets dynamically fed it's content</p>
<p>or we could just hard code in all the demo titles / gifs / text.....</p>
